@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

//header
.header {
  padding: 50px 0 45px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  font-size: 15px;
  @extend %rubik-medium;

  &__list {
    display: flex;
  }

  &__list-item {
    position: relative;
    transition: all .3s;

    &:hover {
      .sub-menu {
        visibility: visible;
        opacity: 1;
        top: 30px;
      }
    }
  }

  &__list-item+.menu__list-item {
    padding-left: 30px;
  }
}

.sub-menu {
  transition: all 0.5s;
  position: absolute;
  left: 0;
  top: 35px;
  width: 250px;
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 3, 143, 0.1);
  text-align: left;
  border-top: 2px solid $hover;

  z-index: 999;
  visibility: hidden;
  opacity: 0;

  &:hover {
    .sub-menu {
      visibility: visible;
    }
  }

  &__item {
    &:first-child {
      padding-top: 20px;
    }
  }

  &__link {
    display: block;
    padding: 0 0 20px 25px;
    transition: all .3s;

    &:hover {
      color: $hover;
    }
  }
}

.logo {
  color: $default;
  display: flex;
  align-items: center;
  @extend %rubik-medium;
  font-size: 36px;

  &__img {
    padding-right: 14px;
  }
}

.user-nav {
  display: flex;

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    background-color: $accent;
    border-radius: 50%;
    transition: all .3s;

    &:hover {
      background-color: $hover;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background-color: #fcd7b6;
    width: 178px;
    height: 51px;
    padding: 0 43px 0 41px;
    margin: 0 18px 0 21px;
  }

  &__link {
    position: relative;
    margin-top: 5px;
  }

  &__num {
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    @extend %dmsans-regular;
    text-align: center;
    line-height: 16px;
    color: &title;

  }

  &__loop {
    transition: all .3s;
    display: flex;
    justify-content: center;
    height: 51px;
    width: 51px;
    border-radius: 50%;
    background-color: #edf1f4;
    align-items: center;

    &:hover {
      background-color: $hover;
    }
  }

  &__line {
    height: 32px;
    width: 1px;
    background-color: #fde7d3;
  }
}


///main///

//slider-top
.slider-top {

  &__item {
    padding-top: 215px;
    padding-bottom: 281px;
  }

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__item-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 634px;
      height: 634px;
      background-image: url(../images/slider/slider-circle.png);
      top: -125px;
      right: -115px;

    }
  }

  &__title {
    max-width: 470px;
    color: $title;
    @extend %rubik-medium;
    line-height: 80px;
    font-size: 72px;
    padding-bottom: 35px;
  }

  &__text {
    max-width: 370px;
    font-size: 18px;
    @extend %rubik-regular;
    padding-bottom: 40px;
  }

  &__btn {
    position: relative;
    @extend %btn;
    padding: 20px 100px 17px 27px;
    @extend %rubik-medium;

    &:after {
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url(../images/icons/arrow-right.svg);
      right: 19px;
      bottom: 23px;
    }
  }

  &__img {
    z-index: 1;
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 45px;

    li {
      padding: 0 11px;

      button {
        padding: 0;
        font-size: 11px;
        @extend %rubik-medium;
        line-height: 29px;
        color: $title;
        background-color: #fde3cc;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        border: none;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}

//slider-bottom
.slider-bottom {
  &__inner {
    display: flex;
    justify-content: space-around;
    padding: 56px 0 69px;
    background-color: #fef7f0;
  }

  &__item {
    display: flex;
    align-items: start;
  }

  &__title {
    @extend %dmsans-bold;
    font-size: 18px;
    line-height: 18px;
    color: #414141;
    padding-bottom: 4px;
  }

  &__text {
    max-width: 202px;
    line-height: 31px;
  }

  &__img {
    padding-right: 25px;

    &:last-child {
      padding-right: 35px;
    }
  }
}

//week-catalog
.week-catalog {
  .catalog-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }

  padding-top: 70px;
  text-align: center;
  margin-bottom: 186px;


  &__btn {
    border: none;
    background-color: #fff;
  }

  &__btn+.week-catalog__btn {
    margin-left: 31px;
  }

  &__filter {
    @extend %dmsans-bold;
    color: #8b8b8b;
    padding-bottom: 80px;
  }
}




.product-item {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  padding-bottom: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  &__img {
    margin: 0 auto;
  }

  &__title {
    @extend %dmsans-medium;
    color: $title;
    font-size: 16px;
    margin-bottom: 13px;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__price {
    @extend %dmsans-bold;
    color: #a3bbc8;
  }

  &:hover {
    .product-menu {
      transform: translateX(0);
    }
  }
}

.product-menu {
  position: absolute;
  transition: all .5s;
  transform: translateX(-300%);
  bottom: 150px;
  display: flex;

  &__item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:nth-child(2) {
      margin: 0 16px;
    }

    &:hover {
      background-color: #a3bbc8;

      .product-menu__img {
        path {
          fill: #fff;

        }
      }
    }

    .product-menu__item--active {
      background-color: #a3bbc8;

      .product-menu__img {
        path {
          fill: #fff;

        }
      }
    }
  }
}

.menu--active {
  display: block;
}

.title {
  font-size: 36px;
  color: #191919;
  @extend %dmsans-bold;
  padding-bottom: 30px;
}

.mixitup-control-active {
  color: #191919;
}




//main-catalog
.main-catalog {
  margin-bottom: 100px;

  span {
    display: block;
  }

  &__inner {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    height: 390px;
    background-color: #feefe2;
    display: flex;
    padding-right: 50px;
    align-items: center;

    &:nth-child(1) {
      .main-catalog__img {
        margin-right: 20px;
      }
    }

    &:nth-child(2) {
      .main-catalog__img {
        margin-right: 62px;
      }
    }
  }

  &__img {
    transform: translateY(-85px);

  }

  &__title {
    color: $title;
    @extend %dmsans-bold;
    font-size: 26px;
    padding-bottom: 25px;
  }

  &__text {
    padding-bottom: 58px;
    @extend %rubik-regular;
    color: $title;
  }

  &__btn {
    background-color: #feefe2;
    color: #436372;
    border: solid 1px #436372;
    border-radius: 5px;
    position: relative;
    padding: 20px 85px 22px 19px;
    @extend %rubik-medium;
    margin-bottom: 85px;

    &:after {
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url(../images/icons/arrow-right-1.svg);
      right: 20px;
      bottom: 25px;
    }
  }
}


//design-catalog
.design-catalog {
  text-align: center;
  margin-bottom: 120px;

  &__btn {
    border: none;
    background-color: #fff;
  }

  &__btn+.week-catalog__btn {
    margin-left: 31px;
  }

  &__filter {
    @extend %dmsans-bold;
    color: #8b8b8b;
    padding-bottom: 80px;
  }

  &__content {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 246px);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }

  .product-item {
    box-shadow: none;
    padding: 40px 0 0 28px;
    text-align: left;
    justify-content: start;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    &__title {
      @extend %dmsans-bold;
      color: #191919;
      font-size: 20px;
      margin-bottom: 18 px;
      max-width: 174px;
      transition: all .3s;

      &:hover {
        color: $accent;
      }
    }

    &__subtitle {
      @extend %dmsans-bold;
      color: $accent;
    }

    .product-menu {
      bottom: 103px;
      left: 30%;
    }
  }

}


//video-main
.video-main {
  margin-bottom: 115px;

  &__popap {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .video-main__play {
      animation: pulse 2s .2s infinite;

      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(163, 187, 200, 0.5);
        }

        100% {
          box-shadow: 0 0 0 20px rgba(163, 187, 200, 0);
        }
      }
    }
  }

  &__play {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-play-state: paused;
  }

}


//articles
.articles {
  &__top {
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
    @extend %dmsans-bold;
    align-items: center;
    margin-bottom: 250px;
  }

  &__title {
    font-size: 36px;
    color: #191919;
  }

  &__view-all {
    position: relative;
    padding-right: 25px;
    color: #262626;

    &:after {
      content: "";
      position: absolute;
      width: 6px;
      height: 11px;
      background-image: url(../images/icons/short-arrow-right.svg);
      right: 0;
      top: 5px;
    }
  }

  &__content {
    display: grid;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(1, auto);
    column-gap: 20px;
    justify-content: space-between;
    transform: translateY(-250px);
    grid-template-columns: repeat(3, auto);
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    z-index: 1;
    background-color: #fff;


  }

  &__type {
    background-color: $accent;
    width: 103px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    @extend %dmsans-bold;
    color: #fff;
    margin-left: 28px;
    margin-bottom: 21px;
    margin-top: -17px;
  }

  &__item-inner {
    height: 100%;
    margin-left: 28px;
    max-width: 80%;
    @extend %dmsans-medium;
    color: #262626;
    font-size: 18px;
    padding-bottom: 19px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__text {
    padding-left: 3px;
  }

  &__about {
    margin-left: 35px;
    display: flex;
    @extend %rubik-regular;
    font-size: 12px;
    color: #222933;
    padding-bottom: 27px;
  }

  &__date {
    margin-right: 40px;
  }

  &__bottom {
    min-height: 250px;
    background-color: #fef7f0;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  &__partners {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -172px;
    padding-bottom: 88px;
  }

  &__partners-item+.articles__partners-item {
    margin-left: 100px;
  }
}











//footer
.footer-top {
  display: flex;
  justify-content: space-between;
  @extend %rubik-regular;
  font-size: 14px;
  color: $text;
  padding: 79px 0 74px;
  border-bottom: 1px solid #dae4e9;

  .logo {
    margin-bottom: 27px;
  }

  &__item:nth-child(1) {
    padding-right: 9%;

    .footer-top__list-link {
      max-width: 200px;
    }

  }

  &__item:nth-child(2) {
    padding-right: 15%;

    .footer-top__list-link {
      max-width: 130px;
    }
  }

  &__item:nth-child(3) {
    padding-right: 17.6%;

    .footer-top__list-link {
      max-width: 100px;
    }
  }

  &__item:nth-child(4) {
    .footer-top__list-link {
      max-width: 270px;
    }
  }


  &__title {
    @extend %dmsans-bold;
    color: #1f2044;
    font-size: 16px;
    text-transform: uppercase;
    padding: 22px 0 20px;
  }

  &__list-link,
  &__list-item {
    margin-bottom: 12px;

    span {
      display: block;
    }
  }

  &__text {
    padding-bottom: 35px;
  }

  &__form-input {
    background-color: #fef7f0;
    border: none;
    width: 170px;
    padding: 12px 0 12px 16px;
  }

  &__form-input::placeholder {
    @extend %dmsans-regular;
    color: #234969;
    font-size: 12px;
  }

  &__form-btn {
    padding: 12px 16px 12px 19px;
    @extend %btn;
    margin-left: -4px;
  }

  &__text {
    max-width: 270px;
  }

}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: $text;
  padding: 35px 0 40px;

  &__nav {
    display: flex;
  }

  &__nav-item+.footer-bottom__nav-item {
    position: relative;
  }

  &__nav-item+.footer-bottom__nav-item::after {
    content: "|";
    position: absolute;
    left: 0px;
  }

  &__nav-link {
    padding-left: 14px;
    padding-right: 14px;
  }
}







//about
.page-top {
  background-color: #edf1f4;
  padding: 30px 0 35px 0;
  text-align: center;

  &__title {
    @extend %rubik-light;
    color: #222933;
    font-size: 36px;
    padding-bottom: 12px;

  }
}

.about {


  &__content {
    display: flex;
    padding: 120px 0;
  }

  &__content-inner {
    padding-left: 50px;
  }

  &__years {
    display: flex;
    align-items: flex-end;
    padding: 85px 0 50px 0;
  }

  &__years-number {
    font-size: 140px;
    line-height: 99px;
    @extend %rubik-bold;
    padding-right: 28px;
    color: $accent;
  }

  &__years-text {
    color: $title;

    span {
      display: block;
      padding-top: 14px;
    }
  }

  &__content-title {
    font-size: 36px;
    @extend %dmsans-bold;
    padding-bottom: 45px;
    color: $title;
  }

  &__content-text {
    color: $title;
    padding-bottom: 69px;
    border-bottom: 2px solid #e6eaf0;
    margin-bottom: 30px;
  }

  &__counter {
    display: flex;
  }

  &__counter-item {
    display: flex;

    &+.about__counter-item {
      padding-left: 55px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 26px;
        height: 80px;
        width: 1px;
        background-color: #e6eaf0;
      }
    }
  }

  &__counter-number {
    font-size: 36px;
    @extend %dmsans-bold;
    color: $title;
  }

  &__counter-img {
    padding-right: 20px;
  }

  &__counter-name {
    @extend %dmsans-bold;
    color: #4c4c4c;
  }
}


.numbers {
  display: flex;
  justify-content: center;
  padding-top: 88px;
  padding-bottom: 82px;
  background-color: #fcd7b6;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &+.numbers__item {
      margin-left: 144px;
    }
  }

  &__title {
    @extend %dmsans-bold;
    font-size: 36px;
    color: $title;
    padding: 20px 0;
  }

  &__subtitle {
    @extend %dmsans-bold;
    font-size: 18px;
    color: $title;
  }
}

.team {
  margin-bottom: 170px;
  padding-top: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %dmsans-bold;
    font-size: 36px;
    color: $title;
    padding-bottom: 33px;
  }

  &__text {
    color: $title;
    padding-bottom: 42px;
    max-width: 320px;
    line-height: 28px;
  }

  &__btn {
    position: relative;
    @extend %btn;
    border-radius: 4px;
    padding: 18px 60px 18px 19px;
    font-size: 15px;

    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 11px;
      background-image: url(../images/icons/arrow-right-2.svg);
      right: 26px;
      bottom: 22px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 100px;
  }

  &__item {
    width: 370px;
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    padding-right: 45px;

  }

  &__item-inner {
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    width: 100%;
    transform: translateY(60px);
    display: flex;
    justify-content: space-between;
    padding: 26px 21px 27px 22px;

  }

  &__item-name {
    font-size: 22px;
    @extend %dmsans-bold;
    color: #436372;
    padding-bottom: 18px;

    span {
      font-size: 16px;
      @extend %rubik-regular;
      color: #565872;
      display: block;
    }
  }

  &__item-social {
    display: flex;
    padding-top: 7px;
  }

  &__icon-href {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;

    &+.team__icon-href {
      margin-left: 7px;
    }
  }


}





//log-in
.modal {

  max-width: 475px;
  margin: 0 auto;
  padding: 115px 0 120px 0;

  &__label {
    color: $default;
    font-size: 14px;
    display: block;
    margin-bottom: 25px;

    &:nth-child(2) {
      margin-bottom: 37px;
    }

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  &__btn {
    width: 100%;
    border: none;
    background-color: $accent;
    color: #fffefe;
    @extend %rubik-medium;
    font-size: 18px;
    padding: 21px 0 18px 0;

  }

  &__inner {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 32px 0;
    border-bottom: 2px solid #f6f6f6;

    label {
      cursor: pointer;
    }
  }


  &__input {
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    height: 60px;
    padding: 0 20px;

  }

  &__problem {
    text-align: center;
    padding: 31px 0 26px 0;
  }

  &__register {
    display: block;
    width: 100%;
    @extend %rubik-medium;
    font-size: 18px;
    color: $title;
    border: 2px solid $accent;
    text-align: center;
    padding: 20px 0;
    transition: all .3s;

    &:hover {
      background-color: $accent;
      color: #fffefe;
    }
  }
}




//terms

.terms {
  padding: 115px 0 45px 0;

  &__title {
    @extend %rubik-medium;
    font-size: 24px;
    color: $title;
    padding-bottom: 27px;
  }

  .terms__list {
    padding-inline-start: 34px;
    list-style-type: decimal-leading-zero;
    color: $title;
    margin-bottom: 46px;
  }

  &__list-item {
    padding-left: 12px;
    padding-bottom: 27px;
  }

  &__text {
    padding-bottom: 65px;
  }
}




//product-list
.catalog {
  padding: 118px 0 120px 0;
}

.filter {
  max-width: 260px;
}

.filter-item {
  padding-bottom: 70px;
}

.filter-title {
  @extend %dmsans-bold;
  font-size: 18px;
  color: $title;
  padding-bottom: 27px;
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    right: -55px;
    top: 10px;
    width: 38px;
    height: 3px;
    background-color: $accent;
    border-radius: 1px;
  }
}

.filter-brand {
  &__checkbox {
    display: flex;
    justify-content: space-between;
  }

  &__number {
    color: #b3b3b3;
    padding-right: 24px;
  }
}

.filter-category,
.filter-brand {
  &__input {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked+.filter-category__checkbox {
      background-color: #edf1f4;
    }

    &:checked+.filter-brand__checkbox {
      background-color: #edf1f4;

      .filter-brand__number {
        color: $title;
      }
    }
  }

  &__checkbox {
    width: 270px;
    height: 43px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    padding-left: 15px;
    align-items: center;
    color: $title;
    position: relative;
  }

}

.filter-category {
  &__checkbox {
    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      background-image: url(../images/icons/short-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      right: 22px;
      bottom: 16px;
    }
  }
}



.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $title;
  }
}


.irs--flat .irs-line {
  height: 3px;
  background-color: $accent;
}

.irs--flat .irs-handle {
  width: 15px;
  height: 15px;
  background-color: $accent;
  top: 20px;
}

.irs-bar,
.irs-min,
.irs-max,
.irs-single,
.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from,
.irs-to {
  display: none;
}

.filter-recent {
  &__href {
    margin-bottom: 23px;
    margin-right: 18px;
  }

  &__item {
    display: flex;
  }

  &__rate {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: -5px;
  }
}



.catalog {
  &__inner {
    display: flex;
  }

  &__grid {
    .pagination {
      justify-content: center;
    }
  }

  .catalog-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 380px);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    padding-left: 30px;

  }

  .catalog-list {
    padding-left: 30px;

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }

    &__img {
      border: 2px solid #f2f2f2;
      margin-right: 57px;
    }

    &__title {
      font-size: 40px;
      color: #333333;
    }

    &__rate {
      padding-top: 25px;
      padding-bottom: 35px;
    }

    &__price {
      font-size: 30px;
      color: #333333;
      padding-bottom: 33px;
    }

    &__text {
      color: $title;
      padding-bottom: 37px;
    }

    &__menu {
      display: flex;
    }

    .catalog-list__icon {
      path {
        fill: rgb(163, 187, 200);
      }

    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #fff;
      margin-right: 11px;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      transition: all .3s;

      &:hover {
        background-color: $accent;

        .catalog-list__icon {
          path {
            fill: #fff;
          }

        }
      }


    }

    &__button--active {
      background-color: $accent;

      .catalog-list__icon {
        path {
          fill: #fff;
        }

      }
    }

  }
}




//product
.product {
  padding-top: 120px;
  padding-bottom: 110px;
}

.product-one {
  padding-bottom: 100px;

  &__inner {
    display: flex;
  }

  &__slide {
    width: 550px;
    margin-right: 60px;
  }

  .product-slide {
    display: flex;

    &__thumb {
      width: 138px;
      height: 530px;
      margin-right: 25px;
    }

    &__thumb-item {
      width: 138px;
      height: 160px;
      margin-bottom: 19px;
      cursor: pointer;

      img {
        width: 138px;
        height: 160px;
        object-fit: contain;
      }
    }

    &__big {
      width: 387px;
    }

    &__big-item {
      width: 387px;
      height: 530px;

      img {
        width: 387px;
        height: 530px;
      }
    }
  }

  &__title {
    font-size: 40px;
    margin-bottom: 21px;
    color: #333;
  }

  &__rate {
    padding: 0;
    margin-bottom: 32px;

  }

  &__price {
    font-size: 30px;
    color: #333;
    margin-bottom: 33px;
  }

  &__text {
    color: $title;
    margin-bottom: 35px;
  }

  &__counter {
    display: flex;
    margin-bottom: 56px;
  }

  &__btn {
    @extend %btn;
    padding: 18.5px 55px;
    border-radius: 3px;
    margin-left: 15px;
  }

  .jq-number__field {
    width: 148px;
    border: 1px solid $accent;
    border-radius: 0;
    box-shadow: none;
  }

  .jq-number__field input {
    padding: 18px 33px;
    color: #333;
    font-size: 15px;
    text-align: center;
  }

  .jq-number {
    padding: 0;
  }

  .jq-number__spin {
    position: absolute;
    width: 50px;
    height: 55px;
    border: 1px solid $accent;
    border-radius: 0;
    background: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
  }

  .jq-number__spin.minus {
    top: auto;
    left: 0;
  }

  .jq-number__spin:after {
    content: '+';
    @extend %rubik-regular;
    position: absolute;
    font-size: 15px;
    color: #333;
    left: 19px;
    top: 16px;
    width: 0;
    height: 0;
    border: none;
  }

  .jq-number__spin.minus:after {
    content: '-';
  }

  &__tag {
    font-size: 16px;
    color: $title;
    margin-bottom: 16px;
  }

}

.product-tabs {
  &__top {
    padding-bottom: 53px;
    text-align: center;
  }

  &__top-item {
    padding: 16px 78px;
    background-color: #edf1f4;
    color: $title;

    &+.product-tabs__top-item {
      margin-left: 13px;
    }
  }

  &__top-item--active {
    background-color: $accent;
    color: #fff;
  }

  &__content-item {
    display: none;
  }

  &__content-item--active {
    display: block;
  }

  &__desc {
    color: $title;
  }

  &__tag {
    font-size: 16px;
    color: $title;
    margin-bottom: 16px;
  }

}

/*
.comments {
  display: flex;
  color: #9a9a9a;
  margin-bottom: 39px;

  &__avatar {
    width: 70px;
    height: 70px;
    margin-right: 30px;
  }

  &__content-top {
    display: flex;
    padding-bottom: 15px;

  }

  &__name {
    color: $title;
    font-size: 16px;
    margin-right: 15px;
  }

  &__date {
    position: relative;
    padding-left: 16px;

    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 14px;
      background-color: #9a9a9a;
      left: 0;
      top: 2px;
    }
  }

  &__rate {
    margin-left: auto;
  }

  &__content-text {
    padding-bottom: 13px;
  }

  &__content-reply {
    padding-left: 25px;
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      width: 15px;
      height: 13px;
      background-image: url('../images/icons/reply.svg');
      left: 0;
      top: 2px;

    }
  }


}
*/
.review {
  width: 100%;
  &__title {
    color: #333;
    font-size: 22px;
    position: relative;
    margin-bottom: 55px;


  }

  &__rate-wrapper {
    display: flex;
    margin-bottom: 30px;
  }

  &__rate-text {
    margin-right: 70px;
    color: #333;
  }

  &__form-textbox {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 30px;
  }



  &__form-text {
    padding: 16px 0 16px 19px;
    border: 1px solid #f0f0f0;
    color: #333;
    width: 100%;

    &:focus {
      outline: 1px solid $accent;
    }

    &::placeholder {
      color: #999;

    }
  }

  &__form-textarea {
    resize: none;
    width: 100%;
    padding: 19px 0 0 19px;
    display: block;
    border: 1px solid #f0f0f0;
    color: #333;
    height: 224px;
    margin-bottom: 40px;

    &:focus {
      outline: 1px solid $accent;
    }

    &::placeholder {
      color: #999;
    }
  }

  &__form-text-wrapper {
    width: 100%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      background-repeat: no-repeat;
      right: 19px;
      top: 17px;
    }
  }

  &__form-name {
    &:after {
      background-image: url('../images/icons/name.svg');
    }
  }

  &__form-mail {
    &:after {
      background-image: url('../images/icons/mail.svg');
      width: 18px;
      height: 13px;
      right: 20px;
    }
  }



  &__form-btn {
    @extend %btn;
    padding: 18px 36px 18px 36px;
    text-transform: uppercase;
    font-size: 14px;

  }
}


//blog


.blog {


  padding: 120px 0;

  .filter {
    max-width: 270px;
    margin-left: 70px;
  }

  &__inner {
    display: flex;

    .filter-item {
      padding-bottom: 45px;
    }
  }

  &__content {
    width: 100%;
  }

  &__cover {
    width: 100%;

    background-repeat: no-repeat;
    height: 501px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 38px;
  }

  &__about {
    width: 275px;
    height: 70px;
    display: flex;
    background-color: $accent;
    border-top: 1px solid #787773;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }

  &__title {
    font-size: 36px;
    color: #333;
    margin-bottom: 35px;
  }

  &__text {
    color: $title;
    font-size: 16px;
    margin-bottom: 57px;
  }

  &__btn {
    color: $accent;
    border: solid 1px $accent;
    position: relative;
    padding: 20px 85px 22px 19px;
    margin-bottom: 85px;

    &:after {
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url(../images/icons/arrow-right-3.svg);
      right: 20px;
      bottom: 25px;
    }
  }

  &__item {
    margin-bottom: 75px;
  }


}

.filter-posts {
  &__item {
    display: flex;
  }

  &__href {
    margin: 0 20px 21px 0px;
    width: 100px;
  }

  &__img {
    width: 71px;
  }

  &__title {
    display: block;
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
  }

  &__date {
    font-size: 14px;
    color: #9a9a9a;
  }

}


//blog-one

.blog-one {
  &__title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }

  &__subtitle {
    @extend %rubik-medium;
    color: $title;
    margin-bottom: 23px;
  }

  &__text {
    color: $title;
    margin-bottom: 42px;
  }

  &__quote {
    color: $title;
    background-color: #edf1f4;
    padding: 24px 0 24px 41px;
    position: relative;
    margin-bottom: 46px;

    &:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 100%;
      background-color: $accent;
      top: 0;
      left: 0;
    }
  }

  &__quote-autor {
    margin-top: 18px;
    padding-left: 44px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: $accent;
      left: 2px;
      top: 50%;
    }
  }

  &__par-wrapper {
    display: flex;
    margin-bottom: 40px;
  }

  &__par-title {
    font-size: 18px;
    @extend %rubik-medium;
    color: $title;
    margin-bottom: 25px;
  }

  &__par-text {
    color: #565872;
  }

  &__par-img {
    margin-right: 31px;
  }

  &__par-inner {
    padding-top: 25px;
  }

}

.autor {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  margin-top: 65px;
  align-items: center;
  margin-bottom: 60px;

  &__left {
    display: flex;
  }

  &__img {
    margin-right: 28px;
  }

  &__name {
    display: block;
    margin-top: 13px;
    margin-bottom: 15px;
    @extend %rubik-medium;
    font-size: 18px;
    color: #333;
  }

  &__about {
    color: #666;
  }

  &__tags {
    color: #999;
    margin-bottom: 13px;

    span {
      color: #333;
      margin-right: 32px;
    }
  }

  &__share {
    display: flex;

    span {
      color: #333;
      margin-right: 24px;
    }
  }

  &__href {
    display: flex;
    align-items: center;
  }

  &__href+.autor__href {
    margin-left: 25px;
  }
}

.comments {

  &__number {
    @extend %rubik-bold;
    font-size: 24px;
    color: $default;
    margin-bottom: 54px;
  }

  &__item {
    display: flex;
  }

  &__profile {
    margin-right: 31px;
  }

  &__item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__date {
    font-size: 14px;
    color: #9e9e9e;
  }

  &__name {
    @extend %rubik-bold;
    font-size: 16px;
    color: $default;

  }

  &__text {
    color: #565872;
    margin-bottom: 22px;
  }

  &__avatar {
    max-width: none;
  }

  &__reply {
    color: #262626;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    padding-right: 15px;

    &:after {
      content: "";
      position: absolute;
      width: 6px;
      height: 11px;
      background-image: url(../images/icons/short-arrow-right.svg);
      right: 0px;
      top: 5px;
    }
  }



  &__item-reply {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
}





//contact
.contact {
  &__info {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 115px;
  }

  &__info-subtitle {
    color: $accent;
    @extend %rubik-bold;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__info-title {
    @extend %dmsans-bold;
    font-size: 35px;
    color: $title;
    margin-bottom: 70px;
  }

  &__info-content {
    display: flex;
  }

  &__info-item {
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 69px 0 63px;
    &:nth-child(2) {
      border: solid 3px $accent;
    }
  }

  &__info-img {
    margin-bottom: 50px;
    object-fit: contain;
    
  }

  &__info-item+.contact__info-item {
    margin-left: 30px;

  }

  &__info-item-title {
    @extend %dmsans-bold;
    color: #222;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__info-adress {
    color: #565872;
    margin-bottom: 12px;
  }
  &__content {
    display: flex;
    
    margin-bottom: 127px;

  }
  #map {
    margin-left: 50px;
    width: 943px;
  }
}


.burger-menu {
  display: none;
}





@import 'media';